<div class="wrapper">
    <main class="container">
    <div class= "contents">
            <h2>新規登録</h2>
      <div class="mainForm">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-element-wrapper">
    <label for="UserEmail">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form-element form-field" %>
  </div>

  <div class="form-element-wrapper">
    <label for="UserPassword">パスワード</label>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class=>"form-element form-field" %>
  </div>

  <div class="form-element-wrapper">
    <label for="UserPassword">パスワード再入力</label>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-element form-field" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
