<h3>ユーザー管理画面</h3>
<hr>

<%= form_tag(controller: "admin", action: "user") do %>
<table border="1" cellpadding="5" cellspacing="0">
  <tr><th>ID</th>         <td><%= text_field_tag( :serch_id ) %></td><tr/>
  <tr><th>name</th>   <td><%= text_field_tag( :serch_name ) %></td><tr/>
  <tr><th>gender</th>     <td><%= select_tag("message_type",
    options_for_select(User.genders.map{|k,v| [I18n.t("enums.user.gender.#{k}"),v]}),
    {class: "select-default",include_blank: true})
  %></td><tr/>
  <tr><th>club</th>       <td><%= text_field_tag( :serch_club ) %></td><tr/>
  <tr><th>entry_year</th> <td><%= number_field_tag( :serch_entry_year ) %></td><tr/>
  <tr><th>create_date</th><td><%= date_field_tag( :serch_create_data_below ) %>~<%= date_field_tag( :serch_create_data_upper ) %></td><tr/>
  <tr><th>BAN</th>        <td><%= select_tag( :serch_ban, options_for_select([false,true]),{include_blank: true}) %></td><tr/>
  <tr><th>SUSPEND</th>    <td><%= select_tag( :serch_suspend, options_for_select([false,true]),{include_blank: true}) %></td><tr/>
  <tr><th></th>           <td><%= submit_tag("検索") %></td><tr/>
</table>


<% end %>


<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>email</th>
    <th>gender</th>
    <th>club</th>
    <th>entry_year</th>
    <th>course_id</th>
    <th>create_time</th>
    <th>BAN</th>
    <th>SUSPEND</th>
    <th>[BAN]</th>
    <th>[SUSPEND]</th>
    <th>[view]</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.account.email %></td>
    <td><%= user.name %></td>
    <td><%= I18n.t("enums.user.gender.#{user.gender}") %></td>
    <td><%= user.club %></td>
    <td><%= user.entry_year %></td>
    <td><%= user.course.name %></td>
    <td><%= user.created_at.year %>年<%= user.created_at.month %>月<%= user.created_at.day %>日</td>
    <td><%= user.is_ban %></td>
    <td><%= user.is_suspend %></td>
    <td><%= link_to("[BAN]","/admin/user/#{user.id}/ban",{method: "post"}) %></td>
    <td><%= link_to("[SUSPEND]","/admin/user/#{user.id}/suspend",{method: "post"}) %></td>
    <td><%= link_to("[view]","/users/show/#{user.id}",{target: "_new"}) %></td>
  </tr>
  <% end %>
</table>
