<div class="wrapper">
    <main class="container">
  		<div class="contents"><!-- ここまで定型 -->
            <div class="cttHead"><!-- コンテンツの見出し -->
				<h2>ユーザー情報編集</h2>
		  	</div>
            <div class="mainForm"><!-- フォーム作るときはこれ　tagはdivがよさげ -->
                <%= form_tag("/users/edit_confirm",{:multipart => true}) do %>
                    <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                        <label>ニックネーム</label>
                        <strong>必須</strong>
                        <%= text_field_tag("name", @user.name, {:class =>'form-element form-field'})%>
                    </div>

                    <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                        <label>所属課程・専攻</label>
                        <%= select_tag("course_id",
                        options_for_select(@select_course,:selected => @user.course_id),
                        {class: "form-element"})%>
                    </div>

                    <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                        <label>サークル・部活動</label>
                        <%= text_field_tag("club",@user.club, {:class =>'form-element form-field'})%>
                    </div>

                    <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                        <label>学年</label>
                        <strong>必須</strong><!-- 必須マーク -->
                        <%= select_tag("entry_year",
                        options_for_select(@select_entry_year,:selected => @user.entry_year),
                        {class: "form-element"})%>
                    </div>

                    <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                        <label>性別</label>
                        <strong>必須</strong><!-- 必須マーク -->
                        <%= select_tag("gender",
                        options_for_select(User.genders.map { |key, value| [I18n.t("enums.user.gender.#{key}"), value] }, :selected => User.genders[@user.gender]),
                        {class: "form-element"})%>
                    </div>

                    <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                        <label>アイコン</label>
                        <%= image_tag @user.icon.to_s %><br/>
                        ↑ 元のアイコン
                        <%= file_field_tag( 'icon', :class =>'form-element') %>
                    </div>

                     <%= submit_tag("確認画面へ", :class =>'form-element button button-Primary') %>
                <% end %>
            </div>
        </div>
    </main>

<footer class="pageFoot">
    <div class="footer-bottom">
        <div class="kigyologo">
            <%= link_to image_tag("/assets/logo_mt_w.png", :class=>"logo logo_mono"), "/" %>
        </div>
        <div class="copyright">
            <small>&copy; <span>2019</span>京都学生起業部</small>
        </div>
    </div>
</footer>
</div>
