<h1>ユーザ編集確認画面</h1>
<div class="wrapper">
  <main class="container">
  	<div class="contents"><!-- ここまで定型 -->
      <div class="cttHead"><!-- コンテンツの見出し -->
			  <h2>登録情報確認</h2>
	    </div>
      <div class="mainForm"><!-- フォーム作るときはこれ　tagはdivがよさげ -->
        <%= form_tag("/users/update",{:multipart => true}) do %>
          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>ニックネーム</label>
            <%= @user.name %>
            <%= hidden_field_tag "name", @user.name, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>所属課程・専攻</label>
            <%= @course_name %>
            <%= hidden_field_tag "course_id", @user.course_id, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>サークル・部活動</label>
              <% if @user.club.present? then %>
                <%= @user.club %>
                <%= hidden_field_tag "club", @user.club, :class =>'form-element' %>
              <% else %>
                <p>選択されていません</p>
              <% end %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>学年</label>
              <%= @user_great %>
              <%= hidden_field_tag "entry_year", @user.entry_year, :class =>'form-element' %>

          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>性別</label>
              <%= @user.gender_i18n %>
              <%= hidden_field_tag "gender", User.genders[@user.gender], :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>アイコン</label>
            <div class="form-icon">
              <% if @user.icon.url then %>
                <%= image_tag @user.icon.url %>
                <%= hidden_field_tag :"cache[icon]", @user.icon.cache_name, :class =>'form-element' %>
              <% end %>
            </div>
          </div>
          <%= submit_tag("登録", :class =>'form-element button button-Primary') %>
          <%= submit_tag("修正する",name: 'back', :class =>'form-element button button-Alert') %>

        <% end %>
      </div>
    </div>
  </main>
</div>
