<!--<%= form_tag("/login") do %>
         <p>メールアドレス</p>
         <input name="email" value="<%= @email %>">
         <p>パスワード</p>
         <input type="password" name="password" value="<%= @password %>">
         <input type="submit" value="ログイン">
<% end %>-->
        <div class="wrapper">
            <main class="container">
        		<div class= "contents">
                    <h2>ログイン</h2>
        			<div class="mainForm">
        				<%= form_tag("/login") do %>
        					<div class="form-element-wrapper">
        						<label for="UserEmail">メールアドレス</label>
        						<input class="form-element form-field"  name="email" value="<%= @email %>" type="email" required="required">
        					</div>
        					<div class="form-element-wrapper">
        						<label for="UserPassword">パスワード</label>
        						<input class="form-element form-field" name="password" value="<%= @password %>" type="password" required="required">
        					</div>
        					<div class="form-element-wrapper">
        						<button class="form-element button button-Primary" type="submit" name="login" value="ログイン">ログイン</button>
        					</div>
        				<% end %>
                        <div class="loginhelp">
                            <ul>
                                <li><%= link_to("新規会員登録", "/signup") %></li>
                                <li><a href="＃">パスワードを忘れましたか？</a></li>
                            </ul>
                        </div>
                    </div>
        		</div>
        	</main>
            <footer class="pageFoot">
                <div class="footer-bottom">
                    <div class="kigyologo">
                        <a href="/top"><img src="#" alt="OSAGARI"></a>
                    </div>
                    <div class="copyright">
                        <small>&copy; <span>2019</span>京都学生起業部</small>
                    </div>
                </div>
            </footer>
        </div>