<div class="wrapper">
<main class="container">
  <div class="contents row">
    <div class="cttHead">
      <h2>あなたの会員情報</h2>
    </div>
    <div class="col-md-6">
      <div class="mainCard">
        <div class="mainForm">
          <div class="form-element-wrapper">
            <div class="form-icon">
              <% if @user.icon.url then %>
                <%= image_tag @user.icon.url %>
              <% end %>
            </div>
          </div>
          <div class="form-element-wrapper">
            <p class="form-element"><%= @user.name %></p>
          </div>
          <div class="form-element-wrapper">
            <p class="form-element"><%= @course_name %></p>
          </div>
          <div class="form-element-wrapper">
            <p class="form-element">
              <% if @user.club.present? then %>
                <%= @user.club %>
              <% else %>
                <p class="form-element">選択されていません</p>
              <% end %>
            </p>
          </div>
          <div class="form-element-wrapper">
            <p class="form-element">
              <%= @user_great %>
            </p>
          </div>
          <div class="form-element-wrapper">
            <p class="form-element">
              <%= @user.gender_i18n %>
            </p>
          </div>
          <% if @user.id == @current_user.id %>
          <div class="form-element-wrapper">
              <%= link_to("編集", "/users/edit", :class =>'form-element button button-Primary') %>
          <% end %>
          </div>
          <div class="form-element-wrapper">
          <%= link_to(account_registration_path(id: @current_user.id), method: :delete, :class =>'form-element button button-Alert') do %>
              退会する

          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mainCard">
        <div class="mainForm">
          <div class="form-element-wrapper">
            <span>購入側取引</span><br/>
            <% @parchase_transactions.each do |transaction| %>
              <%= link_to("#{transaction.exhibit_user.name}さんとの取引","/chats/#{transaction.id}/chat") %> |
              <%= link_to("[購入中止]","/chats/#{transaction.id}/cansel_parchase",{method:"post"}) %><br/>
            <% end %>
          </div>
          <div class="form-element-wrapper">
            <span>出品側取引</span><br/>
            <% @exhibit_transactions.each do |transaction| %>
              <%= link_to("#{transaction.parchase_user.name}さんとの取引",
                "/chats/#{transaction.id}/chat") %> |
              <%= link_to("[出品中止]","/chats/#{transaction.id}/cansel_exhibit",{method:"post"}) %><br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>




</div>
