<h1>ユーザ新規登録</h1>
<%= form_tag("/signup4",{:multipart => true}) do %>
         <p>ニックネーム</p>
         <%= text_field_tag("name",@user.name)%>

         <p>所属課程・専攻</p>
         <%= select_tag("course_id",
         options_for_select(@select_course,:selected => @user.course_id),
         {class: "select-default"})%>

         <p>サークル・部活動</p>
         <%= text_field_tag("club",@user.club)%>

         <p>学年</p>
         <%= select_tag("entry_year",
         options_for_select(@select_entry_year,:selected => @user.entry_year),
         {class: "select-default"})%>

         <p>性別</p>
         <%= select_tag("gender",
         options_for_select(User.genders.map { |key, value| [I18n.t("enums.user.gender.#{key}"), value] }),
         {class: "select-default"})%>

         <p>アイコン</p>
         <%= file_field_tag( 'icon', :class =>'page_fine_name') %>

         <%= submit_tag("確認画面へ") %>
<% end %>
