<<<<<<< HEAD
<h1>OSAGARYとは</h1>
<main class="container">
  <div class="contents"><!-- ここまで定型 -->
    <section>
      <h1>利用ガイド</h1>
    </section>
    <ol>
      <h2>
        <li>step1</li>
      </h2>
        <ul>
          <p>教科書・参考書を売りたい人・買いたい人をマッチングするサービスです。</p>
          <p>買いたい人は、売り出し中の教科書・参考書の中から欲しいものを選択します。</p>
          <p>「取引を開始する」ボタンを押すと、出品者とのチャットが開始されます。</p>
          <p>教科書・参考書と現金を交換するための場所と日時を、チャットにて相談しながら決定してください。</p>
        </ul>
      <h2>
        <li>step2</li>
      </h2>
        <ul>
          <p>本サービスでは京都工芸繊維大学のメールアカウントを用いてユーザ(学生)個人を判別しているため、</p>
          <p>edu.kit.ac.jp以外のアカウントでの登録はできません。ご了承下さい。</p>
        </ul>
      <h2>
        <li>step3</li>
      </h2>
        <ul>
          <p>大学院入学後も本サービスを利用される場合は、メールアドレスを変更して下さい。</p>
          <p>学部4回生終了とともに学部入学時に配布されたアカウントは学校側に停止され、利用不可能になると思われます。</p>
        </ul>
      <h2>
        <li>step4</li>
      </h2>
        <ul>
          <p>本サービスはデータの引継ぎに対応しておりません。ご了承ください。</p>
        </ul>
    </ol>
  </div>
</main>
=======
<div class="wrapper">
    <main class="container">
        <div class="contents">
            <div class="cttHead">
				<h2>OSAGARYとは</h2>
		  	</div>
            <section class="row">
                <div class="col-lg-3">
                    <h4>STEP1</h4>
                    <p>買う側：支払用に現金を準備<br>
                    <%= image_tag("/assets/about_1.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
                <div class="col-lg-3">
                    <h4>STEP2</h4>
                    <p>売る側：商品(本)を準備<br>
                    <%= image_tag("/assets/about_2.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
                <div class="col-lg-3">
                    <h4>STEP3</h4>
                    <p>チャットで取引内容を確認<br>
                    待ち合わせ場所も確定して下さい<br>
                    <%= image_tag("/assets/about_3.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
                <div class="col-lg-3">
                    <h4>STEP4</h4>
                    <p>直接会って取引して下さい<br>
                    <%= image_tag("/assets/about_4.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
            </section>
        </div>
    </main>
    <footer class="pageFoot">
        <div class="footer-bottom">
            <div class="kigyologo">
                <%= link_to image_tag("/assets/logo_mt_w.png", :class=>"logo_mono logo"), "/" %>
            </div>
            <div class="copyright">
                <small>&copy; <span>2019</span>京都学生起業部</small>
            </div>
        </div>
    </footer>
</div>
>>>>>>> 1a6e30d0768af7755ec83c71134fd1fad60ad80b
