<div class="wrapper">
    <main class="about-container">
        <div class="contents about-contents">
            <section>
                <div class="header-img">
                    <%= image_tag  "asset5@2x.png", :alt => 'OSAGARY 工繊生のためのフリマサイト' ,:class=>'bg' %>
                    <%= image_tag  "asset6@2x.png", :alt => 'OSAGARY ご利用ガイド' ,:class=>'catch' %>
               </div>
               <div class="main-sec">
                    <%= image_tag  "asset7@2x.png", :alt => 'OSAGARY 工繊生のためのフリマサイト' ,:class=>'catch' %>
                    <p><b>OSAGARYは工繊生が先輩から後輩へ</b></p>
                    <p><b>教科書をスムーズに売り買いするためのフリマサイトです</b></p>
                    <%= image_tag  "asset8@2x.png", :alt => 'OSAGARY 工繊生のためのフリマサイト' ,:class=>'catch' %>
                    <p>OSAGARYは運営団体「京都学生起業部」が営利目的ではなく</p>
                    <p>今のところ、運営がお金をもらうことは一切ありません</p>
                    <%= image_tag  "asset9@2x.png", :alt => 'OSAGARY 工繊生のためのフリマサイト' ,:class=>'catch' %>
                    <p>OSAGARYは直接会って取引するので、トラブルを発生させないために</p>
                    <p>皆さんの協力が必要です</p>
                    <p>工繊生の方々のマナーを信用し、これからも手数料0円で利用していただくためにも</p>
                    <p>以下のマナーをお守りください</p>
                    <%= image_tag  "asset10@2x.png", :alt => 'OSAGARY 工繊生のためのフリマサイト' ,:class=>'catch' %>
                    <%= image_tag  "asset11@2x.png", :alt => 'OSAGARY 工繊生のためのフリマサイト' ,:class=>'catch' %>

               </div> 
            </section>
        </div>
    </main>

</div>
