<div class="wrapper">
    <main class="container">
        <div class="contents">
            <div class="cttHead">
				<h2>OSAGARYとは</h2>
		  	</div>
            <section>
                <p>OSAGARYはフリマアプリ</p>
            </section>
            <div class="cttHead">
				<h2>使い方ガイド</h2>
		  	</div>
            <section class="row">
                <div class="col-lg-3">
                    <h4>STEP1</h4>
                    <p>買う側：支払用に現金を準備<br>
                    <%= image_tag("/assets/about_1.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
                <div class="col-lg-3">
                    <h4>STEP2</h4>
                    <p>売る側：商品(本)を準備<br>
                    <%= image_tag("/assets/about_2.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
                <div class="col-lg-3">
                    <h4>STEP3</h4>
                    <p>チャットで取引内容を確認<br>
                    待ち合わせ場所も確定して下さい<br>
                    <%= image_tag("/assets/about_3.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
                <div class="col-lg-3">
                    <h4>STEP4</h4>
                    <p>直接会って取引して下さい<br>
                    <%= image_tag("/assets/about_4.png", :width=>"100%" ) %>
                    </p>
                    <br>
                </div>
            </section>
        </div>
    </main>
    <footer class="pageFoot">
        <div class="footer-bottom">
            <div class="kigyologo">
                <%= link_to image_tag("/assets/logo_mt_w.png", :class=>"logo_mono logo"), "/" %>
            </div>
            <div class="copyright">
                <small>&copy; <span>2019</span>京都学生起業部</small>
            </div>
        </div>
    </footer>
</div>
