<div class="wrapper">
  <main class="container">
    <div class="contents row"><!-- ここまで定型 -->
      <div class="mainCard">
        <div class="mainForm">
          <div class="cttHead"><!-- コンテンツの見出し -->
            <h2>取引ID：<%= @transaction.id %></h2>
            <p>チャットルーム</p>
          </div>
        </div>
        <div class="chat">
          <div class="chatField">      
            <% @chats.each do |chat| %>
              <% if chat.parchase? %>
                <div class="form-element chat" style="border-bottom: black;color:black;">
                  <span>購入側：<%= @parchase_user.name %></span>
                  <span class="form-element chat" style="border-bottom: black;;color:black;"><%= chat.message %></span>
                </div>
              <% else %>
                <div class="form-element chat" style="border-bottom: black;color:black;">
                  <span>出品側：<%= @exhibit_user.name %></span>
                  <span class="form-element chat" style="border-bottom: black;color:blac;"><%= chat.message %></span>
                </div>
              <% end %>
            <% end %>
          </div>

          <%= form_tag("/chats/#{@transaction.id}/send_chat", :class=>"send-container") do %>
                
            <%= select_tag("message_type",
              options_for_select(Chat.message_types.map{|k,v| [I18n.t("enums.chat.message_type.#{k}"),v]}),
               {class: "select-btn form-element button button-Alert"})
            %>
            <%= text_area_tag("message","",{:cols=>"80", :rows=>"8", :class=>"send-message"}) %>
            
            <%= submit_tag("送信",:class =>'send-btn form-element button button-Alert') %>
        
          <% end %>
        
          <% if @transaction.id  %>
            <!-- 購入者側　-->
            <%= link_to("取引完了","/chats/#{@transaction.id}/buy_complete_comfirm",:class =>'form-element button button-Alert') %>
          <% else %>
              <%= link_to("取引完了","/chats/#{@transaction.id}/sale_complete_comfirm",:class =>'form-element button button-Alert') %>
          <% end %>
        </div>
      </div>      
    </div>
  </main>
</div>
