<p>Chat room</p>
<p>取引ID：<%= @transaction.id %></p>

<% @chats.each do |chat| %>
  <% if chat.parchase? %>
    <span style="background-color:orange;color:white;">購入側：<%= @parchase_user.name %></span><br/>
    <p><%= chat.message %></p>
  <% else %>
    <span style="background-color:blue;color:white;">出品側：<%= @exhibit_user.name %></span><br/>
    <p><%= chat.message %></p>
  <% end %>
<% end %>

<%= form_tag("/chats/#{@transaction.id}/send_chat") do %>
  <%= text_area_tag("message","",{:cols=>"80", :rows=>"8"}) %><br/>
  <%= select_tag("message_type",
    options_for_select(Chat.message_types.map{|k,v| [I18n.t("enums.chat.message_type.#{k}"),v]}),
    {class: "select-default"})
  %>
  <%= submit_tag("send") %>
<% end %>
