<p>Chat room</p>
<p>取引ID：<%= @transaction.id %></p>

<% @chats.each do |chat| %>
  <!--<% if chat.message_type == :chat_parchase %>
    <p style="background-color:orange;color:white;">購入側：<%= @parchase_user.name %></p>
    <p><%= chat.message %></p><br/>
  <% else %>
    <p style="background-color:blue;color:white;">出品側：<%= @exhibit_user.name %></p>
    <p><%= chat.message %></p><br/>
  <% end %>
<% end %>-->

<%= form_tag("/chats/#{@transaction.id}/send_chat") do %>
  <%= text_area_tag("message","",{:cols=>"80", :rows=>"8"}) %><br/>
  <%= select_tag("chat_type", options_for_select(Chat.chat_types_i18n.keys), {class: "select-default"}) %>
  <%= submit_tag("send") %>
<% end %>
