<div class="wrapper">
    <main class="container">
  		<div class="contents">
        <div class="cttHead">
				  <h2>ログイン</h2>
		  	</div>
        <div class="mainForm">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-element-wrapper">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-element form-field" %>
            </div>
            <div class="form-element-wrapper">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-element form-field" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-element-wrapper">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <div class="form-element-wrapper">
              <%= f.submit "Log in", class: "form-element button button-Primary" %>
            </div>
          <% end %>
          <div class="loginhelp">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </main>
    <footer class="pageFoot">
      <div class="footer-bottom">
          <div class="kigyologo">
              <%= link_to image_tag("/assets/logo_mt_w.png", :class=>"logo_mono logo"), "/" %>
          </div>
          <div class="copyright">
              <small>&copy; <span>2019</span>京都学生起業部</small>
          </div>
      </div>
    </footer>
  </div>
