<div class="wrapper">
  <main class="container">
  	<div class="contents"><!-- ここまで定型 -->
      <div class="cttHead"><!-- コンテンツの見出し -->
			  <h2>登録情報確認</h2>
	    </div>
      <div class="mainForm"><!-- フォーム作るときはこれ　tagはdivがよさげ -->
        <%= form_tag("/posts/create",{:multipart => true}) do %>


					<div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
										<label>画像1</label>
										<% if @post.image_name1.url then %>
                      <figure class="item-img">
											  <%= image_tag @post.image_name1.url %>
											  <%= hidden_field_tag :"cache[image_name1]", @post.image_name1.cache_name, :class =>'form-element' %>
                      </figure>
										<% end %>
					</div>

					<div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
										<label>画像2</label>
										<% if @post.image_name2.url then %>
                      <figure class="item-img">
											  <%= image_tag @post.image_name2.url %>
											  <%= hidden_field_tag :"cache[image_name2]", @post.image_name2.cache_name, :class =>'form-element' %>
                      </figure>
										<% end %>
					</div>

					<div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
										<label>画像3</label>
										<% if @post.image_name3.url then %>
                      <figure class="item-img">
											  <%= image_tag @post.image_name3.url %>
											  <%= hidden_field_tag :"cache[image_name3]", @post.image_name3.cache_name, :class =>'form-element' %>
                      </figure>
										<% end %>
					</div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>本の名前</label>
            <%= @post.name%>
            <%= hidden_field_tag "name", @post.name %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>カテゴリ</label>
            <%= @category_name %>
            <%= hidden_field_tag "category_id", @post.category_id, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
            <label>値段</label>
                <%= @post.price %>
                <%= hidden_field_tag "price", @post.price, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <label>著者</label>
                    <%= @post.author %>
                    <%= hidden_field_tag "author", @post.author, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <label>授業名</label>
                    <%= @post.class_name %>
                    <%= hidden_field_tag "class_name", @post.class_name, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <label>説明</label>
                    <%= @post.content %>
                    <%= hidden_field_tag "content", @post.content, :class =>'form-element' %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <%= submit_tag("修正する",name: 'back', :class =>'form-element button button-Alert') %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <%= submit_tag("登録", :class =>'form-element button button-Primary') %>
          </div>
        <% end %>
      </div>
    </div>
  </main>

</div>
