<% if @errors_full_messages then %>
  <%= @errors_full_messages %>
<% end %>

<main class="container">
  <div class="contents"><!-- ここまで定型 -->
        <div class="cttHead"><!-- コンテンツの見出し -->
    <h2>ユーザー情報登録</h2>
    </div>
        <div class="mainForm"><!-- フォーム作るときはこれ　tagはdivがよさげ -->

    <%= form_tag("/posts/update/#{@post_id}",{:multipart => true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="book-images">
            本の画像
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                <label>画像1</label>
                <%= file_field_tag( 'image_name1', :class =>'form-element') %>
            </div>
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                <label>画像2</label>
                <%= file_field_tag( 'image_name2', :class =>'form-element') %>
            </div>
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                <label>画像3</label>
                <%= file_field_tag( 'image_name3', :class =>'form-element') %>
            </div>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>本の名前</label>
              <strong>必須</strong><!-- 必須マーク -->
              <%= text_field_tag("name", @post.name, :class =>'form-element form-field')%>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>価格</label>
              <strong>必須</strong><!-- 必須マーク -->
              <%= text_field_tag("price", @post.price, :class =>'form-element form-field')%>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>カテゴリ</label>
              <strong>必須</strong><!-- 必須マーク -->
              <%= select_tag("category_id",
              options_for_select(@select_category,:selected => @post.category_id),
              {class: "form-element"})%>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>授業名</label>
              <%= text_field_tag("class_name", @post.class_name, :class =>'form-element form-field')%>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>著者</label>
              <%= text_field_tag("author", @post.author, :class =>'form-element form-field')%>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>説明</label>
              <%= text_field_tag("content", @post.content, :class =>'form-element form-field')%>
          </div>


          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <%= submit_tag("修正する",name: 'back', :class =>'form-element button button-Alert') %>
          </div>

          <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                    <%= submit_tag("更新", :class =>'form-element button button-Primary') %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
