<% if @errors_full_messages then %>
  <%= @errors_full_messages %>
<% end %>


<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">本を登録する</h1>
    <%= form_tag("/posts/create",{:multipart => true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="book-images">
            本の画像
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                <label>画像1</label>
                <%= file_field_tag( 'image_name1', :class =>'form-element') %>
            </div>
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                <label>画像2</label>
                <%= file_field_tag( 'image_name2', :class =>'form-element') %>
            </div>
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                <label>画像3</label>
                <%= file_field_tag( 'image_name3', :class =>'form-element') %>
            </div>
          </div>
          <div class="book-name">
          本の名前
            <input name="book_name">
          </div>
          <div class="book-price">
            <input type="tel" name="book_price"/>
          </div>
          <div class = "book-category">
            カテゴリー
            <%= select_tag("category",options_for_select(@select_category))%>
          </div>
          <div class="book-content">
          本の内容など(10文字以上)
            <textarea name="content"><%= @post.content %></textarea>
          </div>
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>
  </div>
</div>
