<div class="wrapper">
  <main class="container">
  	<div class="contents row"><!-- ここまで定型 -->
      <div class="cttHead"><!-- コンテンツの見出し -->
			  <h2>出品情報</h2>
	    </div>

      <div class="col-md-6">
        <div class="mainCard">
          <div class="mainForm">
            <div class="post-time">
              出品時間：<%= @post.created_at %>
            </div>

            <div class="tab-content">

              <div id="Img1" class="tab-pane active">
                <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                  <% if @post.image_name1 then %>
                    <figure class="item-img">
                      <%= image_tag @post.image_name1.to_s %>
                    </figure>
                  <% end %>
                </div>
              </div>

              <div id="Img2" class="tab-pane">
                <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                  <% if @post.image_name2 then %>
                    <figure class="item-img">
                      <%= image_tag @post.image_name2.to_s %>
                    </figure>
                  <% end %>
                </div>
              </div>

              <div id="Img3" class="tab-pane">
                <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
                  <% if @post.image_name3 then %>
                    <figure class="item-img">
                      <%= image_tag @post.image_name3.to_s %>
                    </figure>
                  <% end %>
                </div>
              </div>
            </div>

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a href="#Img1" data-toggle="tab">Img1</a>
              </li>
              <li class="nav-item">
                <a href="#Img2" data-toggle="tab">Img2</a>
              </li>
              <li class="nav-item">
                <a href="#Img3" data-toggle="tab">Img3</a>
              </li>
            </ul>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>本の名前</label>
              <p><%= @post.name%></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>カテゴリ</label>
              <p><%= @category_name %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>値段</label>
              <p><%= @post.price %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>著者</label>
              <p><%= @post.author %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>授業名</label>
              <p><%= @post.class_name %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>説明</label>
              <p><%= @post.content %></p>
            </div>

            <%if @current_user.id == @exhibit_user.id%>
              <div class="form-element-wrapper">
                <%= link_to("編集", "/posts/edit/#{@post.id}", :class=>"form-element button button-Primary") %>
                <%= link_to("削除", "/posts/destroy//#{@post.id}", {method: "post", :class=>"form-element button button-Alert"}) %>
              </div>
            <% else %>
              <div class="form-element-wrapper">
                <%= link_to("取引を始める", "/posts/chat_confirm/#{@post.id}", :class=>"form-element button button-Primary") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mainCard">
          <div class="mainForm"><!-- フォーム作るときはこれ　tagはdivがよさげ -->
            <h2>出品者の情報</h2>
            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <div class="form-icon">
                <% if @exhibit_user.icon.url then %>
                  <%= image_tag @exhibit_user.icon.url %>
                <% end %>
              </div>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>ニックネーム</label>
              <p><%= @exhibit_user.name %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>所属課程・専攻</label>
              <p><%= @course_name %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>サークル・部活動</label>
              <p>
                <% if @exhibit_user.club.present? then %>
                  <%= @exhibit_user.club %>
                <% else %>
                  選択されていません
                <% end %>
              </p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>学年</label>
              <p><%= @user_great %></p>
            </div>

            <div class="form-element-wrapper"><!-- form内の要素の一塊にはform-element-wrapperをつける -->
              <label>性別</label>
              <p><%= @exhibit_user.gender_i18n %></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  
</div>
