<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>OSAGARY</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="header-logo">
          <%= link_to("OSAGARY", "/") %>
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to("OSAGARYとは", "/about") %>
        </li>
        <li class="nav-item active">
        <%=link_to("利用規約","/policy")%>
        </li class="nav-item active">
        <li>
          <%= link_to("新規登録", "/accounts/sign_up") %>
        </li>

        <% if @current_account_id %>

          <% if @current_user %>

            <li>
              <%=link_to("#{@current_user.name}","/users/#{@current_user.id}")%>
            </li>
            <li>
              <%=link_to("出品","/posts/new")%>
            </li>
          <% else %>
            <li>
              まだユーザ登録が完了していません！<br/>
            </li>
            <%= link_to("ユーザ登録", "/signup3") %>
          <% end %>

          <li>
            <%= link_to("ログアウト", destroy_account_session_path, {method: :delete}) %>
          </li>

        <% else %>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
      </ul>
      </div>
    </nav>
  </header>

    <% if flash[:notice] %>
     <div class="flash">
       <%= flash[:notice] %>
     </div>
   <% end %>

  <body>
    <div class="search-form">
    <%=form_tag("/posts/search") do%>
      <p>検索</p>
      <input name="search">
    <%end%>
    </div>
    <%= yield %>
  </body>
</html>
