<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>OSAGARY</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-default nav-bg">
    <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to image_tag("/assets/logo_mtr_c.png", :class=>"navbar-brand"), "/" %>
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
    </div>
      <div class="navbar-collapse collapse" id="navbarSupportedContent" aria-expanded="true">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("TOP", "/" ) %>
        </li>
        <li>
          <%= link_to("OSAGARYとは", "/about" ) %>
        </li>
        <li>
          <%= link_to("ヘルプ", "/help") %>
        </li>
        <li>
        <%=link_to("利用規約","/policy")%>
        </li>
        <li>
          <%= link_to("新規登録", "/accounts/sign_up") %>
        </li>

        <% if @current_account_id %>

          <% if @current_user %>

            <li>
              <%=link_to("#{@current_user.name}","/users/show/#{@current_user.id}")%>
            </li>
            <li>
              <%=link_to("出品","/posts/new")%>
            </li>
          <% else %>
            <li>
              まだプロフィール設定が完了していません！<br/>
            </li>
            <li>
              <%= link_to("プロフィール設定", "/users/signup") %>
            </li>
          <% end %>

          <li>
            <%= link_to("ログアウト", destroy_account_session_path, {method: :delete}) %>
          </li>

        <% else %>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>

        </ul>
      </div>
    <%=form_tag("/posts/search", :class=>"navbar-form inline-form") do%>
      <input name="search_word" class="form-control" type="search" placeholder="検索..." aria-label="Search">
    <% end %>
    </div>
    </nav>
  </header>

    <% if flash[:notice] %>
     <div class="flash alert alert-success alert-dismissible fade in">
       <%= flash[:notice] %>
     </div>
   <% end %>

  <body>

    <%= yield %>
  </body>
</html>
