<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>OSAGARI</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
      <div class="header-logo">
          <%= link_to("OSAGARI", "/") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("OSAGARIとは", "/about") %>
          </li>
          <li>
          <%=link_to("利用規約","/policy")%>
          </li>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>

          <% if @current_account_id %>
          こんにちわ<%= @current_user.name %>さん!
            <li>
              <%= link_to("ログアウト", destroy_account_session_path, {method: :delete}) %>
            </li>
          <% else %>
            <li>
              <%= link_to("ログイン", "/login") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
     <div class="flash">
       <%= flash[:notice] %>
     </div>
   <% end %>

  <body>
    <%=form_tag("/posts/search") do%>
      <p>検索</p>
      <input name="search">
    <%end%>
    <%= yield %>
  </body>
</html>
